astroid==2.3.0
atomicwrites==1.3.0
attrs==19.2.0
bleach==3.1.0
bottle==0.12.17
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2.7
django-heroku==0.3.1
dnspython==1.16.0
docutils==0.15.2
ecdsa==0.13.2
email-validator==1.0.5
esphome==1.13.6
esptool==2.7
gunicorn==20.0.3
h11==0.8.1
h2==3.1.0
hpack==3.0.0
http3==0.1.1
hyperframe==5.2.0
idna==2.7
ifaddr==0.1.6
importlib-metadata==0.23
influxdb==5.2.3
isort==4.3.21
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.2
packaging==19.2
paho-mqtt==1.4.0
pandas==0.25.1
pkginfo==1.5.0.1
platformio==4.0.0
pluggy==0.13.0
protobuf==3.7.1
psycopg2==2.8.4
py==1.8.0
pyaes==1.6.1
Pygments==2.4.2
pylint==2.4.1
pyparsing==2.4.2
pyserial==3.4
pytest==5.2.1
python-dateutil==2.8.0
pythonwhois==2.4.3
pytz==2019.1
pywhois==0.1
PyYAML==5.1.1
readme-renderer==24.0
requests==2.20.0
requests-async==0.6.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
scipy==1.3.2
seaborn==0.9.0
semantic-version==2.6.0
six==1.12.0
sqlparse==0.3.0
tabulate==0.8.5
tornado==5.1.1
tqdm==4.38.0
twine==2.0.0
typed-ast==1.4.0
tzlocal==1.5.1
urllib3==1.24
virtualenv==16.7.7
voluptuous==0.11.5
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.4
wrapt==1.11.2
xlrd==1.2.0
zipp==0.6.0
